@font-face {
font-family: "Poppins Medium";
src: url(Poppins/Poppins-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: "Poppins Medium";
    min-height: 100vh;
    background-image: url('images/homebg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
nav{
    background: blue;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 70px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 10px;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}
nav ul li a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}
nav ul li a:hover::before{
    width: 100%;
}
a:hover{
    color: white;
}
.checkbtn{
    font-size: 30px;
    color:white;
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
    }
    nav ul li a{
        font-size: 20px
    }
    a:hover, a.active{
        color: white;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
section {
    padding: 100px 0;
    text-align: center;
    height: 100vh;
}

section h1 {
    margin-bottom: 20px;
}

section p {
    color: #777;
}
footer {
background-color: black;
color: #fff;
padding: 40px 0;
text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column p {
    font-size: 14px;
    margin-bottom: 8px;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
}

.copyright {
    margin-top: 20px;
}